{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>File an Allegation</title>
</head>
<body style="background: url('/static/img/bg.svg') no-repeat center center; background-size: cover;">

    <main>
        <div class="co-logo" style="width: 200; height: 55;"></div>
        <div class="main-sec">
            <h1>File an Allegation</h1>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <p class="lbl">Name</p>
                <div class="input-wrapper-div">
                    <div class="input-wrapper">
                        <input type="text" name="names" value="" placeholder="Type the Alleged's Name Here" id="name" class="inp">
                    </div>
                    <input type="hidden" name="selected_person" id="selected-person">
                    <input type="hidden" name="public_key" id="pk">
                    <input type="hidden" name="mac" id="mac">
                    <div id="name-list" class="name-list">
                        
                        {% for e in people %}
                        <div class="person" data-id="{{e.employee_id}}">
                            <p class="fullname">{{e.full_name}}</p>
                            <p class="position">{{e.position}}</p>
                        </div>
                        {% endfor %}

                        <div style="height: 10px;"></div>
                        
                    </div>
                </div>
                <p class="lbl">Allegation</p>
                <div class="input-wrapper">
                    <select name="allegation" id="">
                        <option value="" disabled selected>Select the type of allegation</option>
                        <option value="sexual-harassment">Sexual Harassment</option>
                        <option value="bullying">Bullying</option>
                        <option value="discrimination">Discrimination</option>
                        <option value="embezzlement">Embezzlement</option>
                        <option value="unlawful-termination">Unlawful Termination</option>
                        <option value="abuse-of-authority">Abuse of Authority</option>
                        <option value="breach-of-confidentiality">Breach of Confidentiality</option>
                        <option value="workplace-safety-violation">Workplace Safety Violation</option>
                        <option value="fraud">Fraud</option>
                    </select>
                </div>
                <p class="lbl">Threshold</p>
                <div class="input-wrapper">
                    <input type="number" name="threshold" value="" placeholder="Enter Threshold Here" id="cert">
                </div>
                <p class="lbl">Detail</p>
                <div class="input-wrapper">
                    <textarea placeholder="Enter details of your allegation here" rows="3" name="" id=""></textarea>
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="footer-msg">
        {% if verified %}
            <p>Allegation submitted Successfully! Learn what's next.</p>
        {% else %}
            <p>Your identity couldn't be verified, try again please!</p>
        {% endif %}
        </div>
    </main>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const people = document.querySelectorAll('.person');
        const hiddenInput = document.getElementById('selected-person');
        const nameInput = document.getElementById('name')
        const nameList = document.getElementById("name-list")

        nameList.addEventListener("click", e => {
            const person = e.target.closest(".person");
            if (person) {
                const id = person.dataset.id;
                const name = person.querySelector(".fullname").textContent;
                const position = person.querySelector(".position").textContent;
                const isSelected = person.classList.contains("selected")

                people.forEach(p => p.classList.remove("selected"))
                if (!isSelected) {
                    person.classList.add("selected");
                    hiddenInput.value = person.dataset.id;
                } else {
                    hiddenInput.value = ''
                }
            }
        });

        nameInput.addEventListener("input", async() => {
            const value = nameInput.value.trim();
            
            try {
                const response = await fetch(`{% url 'search' %}?employee=${encodeURIComponent(value)}`)
                const re = await response.text();
                const data = JSON.parse(re);
                nameList.innerHTML = ""
                
                if (data["people"].length==0) {
                    nameList.innerHTML = `<p class="empt">${value} couldn't be found</p>`
                }

                data["people"].forEach(e => {
                    const personDiv = document.createElement("div");
                    personDiv.classList.add("person");
                    personDiv.dataset.id = e.id;
                    personDiv.innerHTML = `
                        <p class="fullname">${e.fullname}</p>
                        <p class="position">${e.position}</p>
                    `;
                    nameList.appendChild(personDiv);
                })
            } catch(error) {
                console.error(error)
            }
        })

    });

    </script>

</body>
</html>