{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body style="background: url('/static/img/bg.svg') no-repeat center center; background-size: cover;">

    <script>
    let pk = localStorage.getItem('pk_1')
    let mac = localStorage.getItem('mac_1')
    if (pk != null && mac != null) {
        window.location.href = "{% url 'file' %}"
    } else {
        {% if pairings %}
        {% for p in pairings %}
            localStorage.setItem("pk_{{ forloop.counter }}", "{{p.0}}")
            localStorage.setItem("sk_{{ forloop.counter }}", "{{p.1}}")
            localStorage.setItem("mac_{{ forloop.counter }}", "{{p.2}}")
        {% endfor %}
        {% endif %}
    }
    </script>

    <main>
        <div class="co-logo" style="width: 200; height: 55;"></div>
        <div class="main-sec">
            <h1>Register</h1>
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}
                <p class="lbl">Name</p>
                <div class="input-wrapper-div">
                    <div class="input-wrapper">
                        <input type="text" name="names" value="" placeholder="Type Your Name Here" id="name" class="inp">
                    </div>
                    <input type="hidden" name="selected_person" id="selected-person">
                    <div id="name-list" class="name-list">
                        
                        {% for e in people %}
                        <div class="person" data-id="{{e.employee_id}}">
                            <p class="fullname">{{e.full_name}}</p>
                            <p class="position">{{e.position}}</p>
                        </div>
                        {% endfor %}

                        <div style="height: 10px;"></div>
                        
                    </div>
                </div>
                <p class="lbl">Certificate</p>
                <div class="input-wrapper">
                    <input type="text" name="cert" value="" placeholder="Enter Certificate Here" id="cert">
                </div>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="footer-msg">
        {% if show_message %}
        {% if verified %}
            <p class="snack-bar succ">You've been Successfully registered. <a href="{% url 'file' %}">File an allegation</a></p>
        {% else %}
            <p class="snack-bar err">Your identity couldn't be verified, try again please!</p>
        {% endif %}
        {% endif %}
        </div>
    </main>

    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const people = document.querySelectorAll('.person');
        const hiddenInput = document.getElementById('selected-person');
        const nameInput = document.getElementById('name')
        const nameList = document.getElementById("name-list")

        nameList.addEventListener("click", e => {
            const person = e.target.closest(".person");
            if (person) {
                const id = person.dataset.id;
                const name = person.querySelector(".fullname").textContent;
                const position = person.querySelector(".position").textContent;
                const isSelected = person.classList.contains("selected")

                people.forEach(p => p.classList.remove("selected"))
                if (!isSelected) {
                    person.classList.add("selected");
                    hiddenInput.value = person.dataset.id;
                } else {
                    hiddenInput.value = ''
                }
            }
        });

        nameInput.addEventListener("input", async() => {
            const value = nameInput.value.trim();
            
            try {
                const response = await fetch(`{% url 'search' %}?employee=${encodeURIComponent(value)}`)
                const re = await response.text();
                const data = JSON.parse(re);
                nameList.innerHTML = ""
                
                if (data["people"].length==0) {
                    nameList.innerHTML = `<p class="empt">${value} couldn't be found</p>`
                }

                data["people"].forEach(e => {
                    const personDiv = document.createElement("div");
                    personDiv.classList.add("person");
                    personDiv.dataset.id = e.id;
                    personDiv.innerHTML = `
                        <p class="fullname">${e.fullname}</p>
                        <p class="position">${e.position}</p>
                    `;
                    nameList.appendChild(personDiv);
                })
            } catch(error) {
                console.error(error)
            }
        })

    });

    </script>

</body>
</html>